@import './components/buttons';
@import './components/inputs';
@import './components/list';

main {
  width: 100%;
}
.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1260px;
}
.text-danger {
  color: #f00;
}

.title {
  font-size: 24px;
  line-height: 1.4;
}
